<%- layout('layouts/boilerplate') %>


<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-10 offset-1 col-lg-6 offset-lg-3"> 
        <form action="/campgrounds/<%=campground._id%>?_method=PUT", method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" placeholder="Title" name="campground[title]" value="<%=campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div> 
            </div>
            <div class="mb-3">
                <label class="form-label" for="Location">Location</label>
                <input class="form-control" type="text" id="Location" placeholder="Location" name="campground[location]" value="<%=campground.location %>" required> 
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="price-label" aria-describedby="price-label"
                    name="campground[price]" value="<%=campground.price %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Location">Description</label>
                <textarea class="form-control" type="text" id="description" placeholder="Description" name="campground[description]" required><%=campground.description %></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add Image</label>
                <div class="input-group">
                    <input type="file"
                    name="image"
                     class="form-control" id="inputGroupFile02" multiple>
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                  </div>
            </div>
            <div class="mb-3">
                <% campground.image.forEach(function(img,i){ %>
                    <div class="mb-2">
                        <img src="<%=img.thumbnail %>" alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i %>" name="deleteImages[]" value="<%=img.filename %>">
                        </div>
                        <label for="image-<%=i %>">Delete</label>
                    </div>
                <% }) %>
            </div>
            <button class="btn btn-info">Update Campground</button>
        </form>
        <br>
        <a href="/campgrounds/<%=campground._id %>">Back to Campground</a>
    </div>
</div>

